<h1>Your Cart</h1>

<% if @products.empty? %>
  <p>Cart is empty</p>
<% else %>

  <% total = 0 %>

  <% @products.each do |p| %>
    <% quantity = session[:cart][p.id.to_s] %>
    <% total += p.price * quantity %>

    <div class="card" style="margin-bottom:10px;">
      <strong><%= p.name %></strong>
      <div style="display:flex; align-items:center">
        <p>
          Qty: <%= quantity %>

          <%= button_to "+",
            cart_increase_path(p.id),
            method: :post,
            style: "margin-left:10px;" %>

          <%= button_to "-",
            cart_decrease_path(p.id),
            method: :post,
            style: "margin-left:5px;" %>
        </p>  
      </div>
      <p>$<%= p.price * quantity %></p>

      <%= button_to "Remove",
        cart_remove_path(p.id),
        method: :delete %>
    </div>
  <% end %>

  <% tax_rate = current_user&.province&.tax_rate || 0 %>
  <% tax = total * tax_rate %>
  <% final_total = total + tax %>

  <hr>

  <p>Subtotal: $<%= total.round(2) %></p>
  <p>Tax (<%= (tax_rate * 100).round(2) %>%): $<%= tax.round(2) %></p>

  <h2>Total: $<%= final_total.round(2) %></h2>

  <%= link_to "Checkout", checkout_path, class: "btn" %>

<% end %>