<h1>Edit Keyboard</h1>

<%= form_with model: [:admin, @product] do |f| %>

  <p>Name</p>
  <%= f.text_field :name %>

  <p>Description</p>
  <%= f.text_area :description %>

  <p>Price</p>
  <%= f.number_field :price %>

  <p>Brand</p>
  <%= f.collection_select :brand_id, Brand.all, :id, :name %>

  <p>Layout</p>
  <%= f.collection_select :layout_id, Layout.all, :id, :name %>

  <p>Switch Type</p>
  <%= f.collection_select :switch_type_id, SwitchType.all, :id, :name %>

  <br><br>

  <%= f.submit "Update", class: "btn" %>

<% end %>