<div style="display:flex; gap:40px;">

  <img src="<%= @product.image %>" width="400">

  <div>
    <h1><%= @product.name %></h1>

    <p style="color:gray;"><%= @product.brand.name %></p>

    <p><%= @product.description %></p>

    <h2>$<%= @product.price %></h2>

    <%= button_to "Add to Cart",
      cart_add_path(product_id: @product.id),
      method: :post,
      class: "btn" %>
  </div>

</div>